.contact{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size:  100px;
        color: transparent;
        -webkit-text-stroke: 4px black;
        
    }

    .aboutsite{
        padding-top: 50px;
        
    }
}

.contact-info{
    text-align: center;
}

